<!DOCTYPE html>
{% load static %}
   <html>
     <head>
       <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" 
             href="{% static 'appsong/catacha.css' %}" />
       <title>
         Modifier une chanson
       </title>  

     </head>

     <body>
            <p><a href="{{url_chanson}}">Retour vers la musique</a> </p>
            <fieldset class="filtre1">
                    <legend>Modif d'une Chanson</legend>
                    <form action="" method="post">
                      {{mc_form.as_p}}
                      <p>
                        <input type="submit" name="b_modifier" value="modifier" />
                        {% csrf_token %}
                      </p>
                    </form>
            </fieldset>
            {% if mc_message %}
        <p>{{mc_message}}</p>
        {% endif %}

      
                  <p><a href="{{url_princ}}">Retour vers la page principale</a> </p>         

     </body>
   </html> 